<!DOCTYPE html>
<html>
<head>
    <title>Verify Your Email</title>
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3>Account Verification</h3>
        <p>Thank you for choosing EasyShopas. Please click on the link below to verify your account.</p>
        <br><br>
        <a style="margin-top:1rem; padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; background: #0275d8; color: white;"
         href="url">
            Verify your email
        </a>

        <p style="margin-top:1rem;">If you did not register for EasyShopas, please kindly disregard this message and no further action is required. Thank you.</p>
    </div>
</body>
</html>
